<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
  
<body>

  <div layout:insert="~{task/alert :: alert}" th:with="type='info', header='Info'" th:remove="tag">
        <!--/* Implements alert content fragment with simple content */-->
        <th:block layout:fragment="alert-content">
           <!--  <p><em>This is a simple list of tasks!</em></p>  -->
        </th:block>
    </div>
    

	
	<div>
	<h1 th:text="'Edit prefix '+ ${ipPrefixv4_org.prefix}">Form</h1>
	<hr></div>
    <form action="#"  class="form-horizontal new1" th:action="@{/prefix/edit/{id}(id=${ipPrefixv4.id})}" th:object="${ipPrefixv4}" method="post">
    	  <div class="form-group row flex-v-center">
    	
    	 <!--  ID -->
    	
        <div class="col-xs-1 col-sm-2"> 
            <label for="id">ID</label>
        </div>
    	
    	<div>
    	<p class="input-group">
    	<input class="new1"  "text" id="id" th:field="*{id}" readonly /> 
    	<span class="validationError"
			  th:if="${#fields.hasErrors('id')}"
              th:errors="*{id}">Creation Time</span> 
        </p>
        </div>
       <br/> 
    	
    	<!--  creationDate -->
    	
        <div class="col-xs-1 col-sm-2"> 
            <label for="creationDate">Creation Time</label>
        </div>
    	
    	<div>
    	<p class="input-group">
    	<input class="new1" type="text" id="creationDate" th:field="*{creationDate}" readonly/> 
    	<span class="validationError"
			  th:if="${#fields.hasErrors('creationDate')}"
              th:errors="*{creationDeate}">Creation Time</span> 
        </p>
        </div>
       <br/> 
       
        <!--  creationDate -->
    	
        <div class="col-xs-1 col-sm-2"> 
            <label for="lastUpdate">Last Update Time</label>
        </div>
    	
    	<div>
    	<p class="input-group">
    	<input class="new1" type="text" id="lastUpdate" th:field="*{lastUpdate}" readonly/> 
    	<span class="validationError"
			  th:if="${#fields.hasErrors('lastUpdate')}"
              th:errors="*{lastUpdate}">Last Update Time</span> 
        </p>
        </div>
       <br/> 
       
    	<!--  <p>Description: -->
    	
    	<div class="col-xs-1 col-sm-2"> <!--   -->
            <label for="description">Description</label>
        </div>
    	
    	<div>
    	<p class="input-group">
    	<input class="new1" type="text" id="description" th:field="*{description}" /> 
    	<span class="validationError"
			  th:if="${#fields.hasErrors('description')}"
              th:errors="*{description}">Description Error</span> <!--  </p> -->
        </p>
        </div>
       <br/> 
       
           	<!--  <p>Prefix: -->
    	
    	<div class="col-xs-1 col-sm-2"> <!--   -->
            <label for="bytes">Prefix/Mask</label>
        </div>
    	
    	<div>
    	<p class="input-group">
    	<input class="new1" type="text" id="prefix" th:field="*{prefix}" /> 
    	<!-- <span class="validationError"
			  th:if="${#fields.hasErrors('bytes')}"
              th:errors="*{bytes}">Bytes Error</span>   </p> -->
    	<!-- <span>/</span> -->
		<!-- <input type="text" id="mask" th:field="*{mask}" />    	 -->

    	
    	<!-- 
    	
    		<span th:text="${detailedError.getFieldName()}"/>
    		<span th:text="${detailedError.getCode()}"/>
    		<span th:text="${detailedError.getMessage()}"/> -->
    	
 
              
        <th:block th:if="${#fields.hasErrors('prefix')}" th:each="detailedError : ${#fields.detailedErrors('prefix')}">
            <span th:if="${detailedError.getCode() != '2345'}" class="textError" th:text="${detailedError.getMessage()}"/>
    		<span th:if="${detailedError.getCode() == '2345'}" class="textError" th:text="${detailedError.getMessage()}"/>
    		<a th:if="${detailedError.getCode() == '2345'}"  th:href="${'/prefixes'}" class="btn1 btn1-default" >Edit</a>
		</th:block> 
        </p>
        </div>
       <br/> 
       
          	<!--  AS -->
    	
    	<div class="col-xs-1 col-sm-2"> <!--   -->
            <label for="AS">AS</label>
        </div>
    	
    	<div>
    	<p class="input-group">
    	<input class="new1" type="text" id="AS" th:field="*{AS}" /> 
    	<span class="validationError"
			  th:if="${#fields.hasErrors('AS')}"
              th:errors="*{AS}">AS Error</span> <!--  </p> -->
        </p>
        </div>
       <br/> 
       
            <!--  VRF -->
    	
    	<div class="col-xs-1 col-sm-2"> <!--   -->
            <label for="VRF">VRF</label>
        </div>
    	
    	<div>
    	<p class="input-group">
    	<input class="new1"  type="text" id="VRF" th:field="*{VRF}" /> 
    	<span class="validationError"
			  th:if="${#fields.hasErrors('VRF')}"
              th:errors="*{VRF}">VRF Error</span> <!--  </p> -->
        </p>
        </div>
       <br/> 
       <hr></div>
              
         <p>
         <input class="btn1 btn1-default" type="submit" value="Write" /> 
         <a><input  class="btn1 btn1-default" type="reset" value="Reset" /> </a>
         <a   th:href="${'/prefix/edit/addsub/'+ipPrefixv4.id}"class="btn1 btn1-default" >Add Sub</a>
         <a   th:href="${'/prefixes'}" class="btn1 btn1-default" >Back</a>
         </p>
        
        </div>
    </form>
    </div>
   


</body>
</html>