<html xmlns:th="http://www.thymeleaf.org"
   th:insert="~{fragments/layout1 :: layout1 (~{::body},'owners')}">  
<head>

</head>
  
  <body>
    <h1>Register user</h1>
  
    
    <form method="POST" th:action="@{/register}" id="registerForm">
    
        <label for="username">Username: </label>
        <input type="text" name="username"/><br/>

        <label for="password">Password: </label>
        <input type="password" name="password"/><br/>
    
        <input type="submit" value="Register"/>
    </form>
    
  </body>
</html>