<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
  
<body>

  <div layout:insert="~{task/alert :: alert}" th:with="type='info', header='Info'" th:remove="tag">
        <!--/* Implements alert content fragment with simple content */-->
        <th:block layout:fragment="alert-content">
            <p><em>This is a simple list of tasks!</em></p>
        </th:block>
    </div>

<h1>Form</h1>
    <form action="#" class="form-horizontal" th:action="@{/prefix}" th:object="${ipPrefixv4}" method="post">
    	  <div class="form-group row flex-v-center">
    	
    	
    	<!--  <p>Description: -->
    	
    	<div class="col-xs-1 col-sm-2"> <!--   -->
            <label for="description">Description</label>
        </div>
    	
    	<div>
    	<p class="input-group">
    	<input type="text" id="description" th:field="*{description}" /> 
    	<span class="validationError"
			  th:if="${#fields.hasErrors('description')}"
              th:errors="*{description}">Description Error</span> <!--  </p> -->
        </p>
        </div>
       <br/> 
       
           	<!--  <p>Prefix: -->
    	
    	<div class="col-xs-1 col-sm-2"> <!--   -->
            <label for="prefix">Prefix
            </label>
        </div>
    	
    	<div>
    	<p class="input-group">
    	<input type="text" id="prefix" th:field="*{prefix}" /> 

    	
    	<!-- 
    	
    		<span th:text="${detailedError.getFieldName()}"/>
    		<span th:text="${detailedError.getCode()}"/>
    		<span th:text="${detailedError.getMessage()}"/> -->
    	
 
              
        <th:block th:if="${#fields.hasErrors('prefix')}" th:each="detailedError : ${#fields.detailedErrors('prefix')}">
            <span th:if="${detailedError.getCode() != '2345'}" class="textError" th:text="${detailedError.getMessage()}"/>
    		<span th:if="${detailedError.getCode() == '2345'}" class="textError" th:text="${detailedError.getMessage()}"/>
    		<a th:if="${detailedError.getCode() == '2345'}"  th:href="${'/prefixes'}" class="btn1 btn1-default" >Edit</a>
		</th:block> 
        </p>
        </div>
       <br/> 
       
          	<!--  AS -->
    	
    	<div class="col-xs-1 col-sm-2"> <!--   -->
            <label for="AS">AS</label>
        </div>
    	
    	<div>
    	<p class="input-group">
    	<input type="text" id="AS" th:field="*{AS}" /> 
    	<span class="validationError"
			  th:if="${#fields.hasErrors('AS')}"
              th:errors="*{AS}">AS Error</span> <!--  </p> -->
        </p>
        </div>
       <br/> 
       
            <!--  VRF -->
    	
    	<div class="col-xs-1 col-sm-2"> <!--   -->
            <label for="VRF">VRF</label>
        </div>
    	
    	<div>
    	<p class="input-group">
    	<input type="text" id="VRF" th:field="*{VRF}" /> 
    	<span class="validationError"
			  th:if="${#fields.hasErrors('VRF')}"
              th:errors="*{VRF}">VRF Error</span> <!--  </p> -->
        </p>
        </div>
       <br/> 
              
         <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        
        </div>
    </form>
   


</body>
</html>