<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Products</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>All Products</h2>
        <table class="table table-striped">
            <tr>
           		<th>ID</th>
           		<th>LastUpdate</th>
                <th>Mask</th>
                <th>Version</th>
            </tr>
            <tr th:each="product : ${products}">
            	<td th:text="${product.id}">id</td>
            	<td th:text="${product.lastUpdate}">LastUpdate</td>
                <td th:text="${product.mask}">mask</td>
                <td th:text="${product.version}">version</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>